
.contributions_graph {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  overflow: auto;
}
.contributions_graph .square{
  width: 10px;
  height: 10px;
  background: lightgray;
  margin: 1px;
}